@{
    ViewBag.Title = "Home Page";
    var listPages = ViewBag.listPages;
}

<br />
<br />
<h4>Select a Page</h4>
@foreach (var page in listPages)
{
    <a href="~/Home/Page/@page.id">@page.title</a>
}