
<!DOCTYPE html>
<html lang="uk">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/Style/style.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="~/Home/AddPage"> Add page </a>

    @RenderBody()

</body>
</html>
